<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">

<head>
    <object th:include="components/BasePage :: title" th:remove="tag"></object>
</head>	

<body>
	<div id="Content" class="container-full-bg">
		<!-- <tr th:each="jadwal : ${listJadwal}">
			<td th:text="${jadwal.tanggal}"></td>
			<td th:text="${jadwal.waktuMulai}"></td>
			<td th:text="${jadwal.waktuSelesai}"></td>
			<div th:each="staffX : ${listStaff}">
				<div th:if= "$(jadwal.idStaff} == ${staffX.id}")>
					<td th:text="${staffX.nama}"></td>
				</div>				
			</div>
		</tr>	 -->		
	</div>
</body>