<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    
</head>	
	<body>
	<div id="Content" class="container-full-bg">
		<br>
		<div class="container">
			<h2 class="card-header" th:text="${header}" style="text-align:center"></h2>
			<br>
			<div class="container vertical-center" style="padding-top:32px;">
			
<!-- Create Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReagenModal">
  Tambah Baru
</button>

<!-- Modal -->
<div class="modal fade" id="createReagenModal" tabindex="-1" role="dialog" aria-labelledby="createReagenModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Kebutuhan Reagen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/lab/kebutuhan/tambah/}" th:object="${kebutuhanReagen}" method="POST">
      <div class="modal-body">
		<div class="form-group">
			<label>Reagen</label>
			<select class="form-control" name="reagen.id" required>
				<option value="">-Pilih Reagen-</option>
				<option th:each="reagen: ${listReagen}" th:value="${reagen.id}" th:text="${reagen.nama}"></option>
			</select>
		</div>
		<div class="form-group">
			<label>Jumlah</label>
			<input class="form-control" type="number" name="jumlah" required>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button type="submit" class="btn btn-primary">Simpan</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- /Modal -->

		        <div class="table-responsive table">
		        	<table class="table table-hover" id="myTable">
		        		<thead>		        	
		        			<th>Id Reagen</th>
							<th>Jumlah Reagen</th>
							<th>Status Reagen</th>
							<th>Tanggal Perubahan Status</th>
		        		</thead>
		        		<tbody>
		     			<tr th:each="reagen : *{listKebutuhanReagen}">
							<td th:text="${reagen.id}"></td>
							<td th:text="${reagen.jumlah}"></td>
							<td>
								<div th:if="${reagen.status==0}" th:text="'Aktif/Belum Beli'"></div>
								<div th:if="${reagen.status==1}" th:text="'Tidak Aktif/Telah dibeli'"></div>
							</td>
							<td th:text="${reagen.tanggalUpdate}"></td>
							<td>
								<form id="update" th:action="@{/lab/kebutuhan/ubah} + ${reagen.id}" method="GET">
									<button id="updateButton" class="btn btn-danger" type="submit">Update</button>	
								</form>
							</td>
						</tr>
		     		</tbody>
		        	</table>
		        </div>
		    </div>
		</div>
	</div>
	</body>
</html>