<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Pemeriksaan</title>
	</head>
	<body>
		<br>
		<h1>Data Pemeriksaan</h1>
		<hr>
		<div class="container">
			<h2 class="card-header" style="text-align:center">Daftar Pemeriksaan</h2>
			<br>
			<table id="table_id" class="display">
				<thead>
						<tr>
							<th>Id Pasien</th>
							<th>Tanggal Permintaan</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pemeriksaan : *{listPemeriksaan}">
							<td th:text="${pemeriksaan.idPasien}"></td>
							<td th:text="${pemeriksaan.tanggalPengajuan}"></td>
							<td th:text="${pemeriksaan.hasil}"></td>
							<td>
								<form id="update">
									<input type="hidden" name="idPasien" th:value="${pemeriksaan.idPasien}">
									<input type="hidden" name="status" th:value="${pemeriksaan.status}">
									<button id="updateButton" class="btn btn-danger" type="submit">Update</button>	
								</form>
							</td>
							<td>
								<form id="kirim">
									<input type="hidden" name="idPasien" th:value="${pemeriksaan.idPasien}">
									<input type="hidden" name="status" th:value="${pemeriksaan.status}">
									<button id="kirimButton" class="btn btn-danger" type="submit">Kirim</button>	
								</form>
							</td>
						</tr>
					</tbody>
				
			</table>
	
		</div>
		
		<script>
			$('#update').submit(function(e){
				e.preventDefault();
		
				$(function () {
	                $('#update').keyup(function () {
	                    if ($(this).val() > 1) {
	                        //Check to see if status 1
	                        // If there is no text within the input ten disable the button
	                        $('#updateButton').prop('disabled', true);
	                    } else {
	                        //If there is text in the input, then enable the button
	                        $('#updateButton').prop('disabled', false);
	                    }
	                });
	            }); 
			}))
			
			$(function(){
			    $('#kirim').keyup(function () {
	                    if ($(this).val() < 2) {
	                        //Check to see if status 2
	                        // If there is no text within the input ten disable the button
	                        $('#kirimButton').prop('disabled', true);
	                    } else {
	                        //If there is text in the input, then enable the button
	                        $('#kirimButton').prop('disabled', false);
	                    }
	                });
	            }); 
			}))
		</script>
	</body>
</html>