<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/BasePage :: basepage}">
<head>
    <object th:include="components/BasePage :: title" th:remove="tag"></object>
</head>
<body>
	<div id="Content" class="container-full-bg">
		<br>
		<h1>Data Pemeriksaan</h1>
		<hr>
		<div class="container">
			<h2 class="card-header" style="text-align:center">Daftar Pemeriksaan</h2>
			<br>
			<div class="container vertical-center" style="padding-top:32px;">
		        <div class="table-responsive table">
		        	<table class="table table-hover" id="myTable">
		        		<thead>
		        			<th>Id Pasien</th>
							<th>Tanggal Permintaan</th>
							<th>Status</th>
		        		</thead>
		        		<tbody>
		     			<tr th:each="pemeriksaan : *{listPemeriksaan}">
							<td th:text="${pemeriksaan.idPasien}"></td>
							<td th:text="${pemeriksaan.tanggalPengajuan}"></td>
							<td th:text="${pemeriksaan.hasil}"></td>
							<td>
								<form id="update" th:action="@{/lab/pemeriksaan/} + ${pemeriksaan.id}" method="GET">
									<button id="updateButton" class="btn btn-danger" type="submit">Update</button>	
								</form>
							</td>
							<td>
								<form id="kirim">
									<input type="hidden" name="id" th:value="${pemeriksaan.idPasien}">
									<input type="hidden" name="status" th:value="${pemeriksaan.status}">
									<button id="kirimButton" class="btn btn-danger" type="submit">Kirim</button>	
								</form>
							</td>
						</tr>
		     		</tbody>
		        	</table>
		        </div>
		    </div>
		</div>
	</div>
	</body>
</html>